.paragraph {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}

.paragraph--black {
  color: #1a2935;
}

.paragraph--grey500 {
  color: #a8aeb2;
}

.paragraph--grey600 {
  color: #48545d;
}

.paragraph--danger {
  color: #ff3d71;
}

.paragraph--success {
  color: #00d68f;
}

.paragraph--primary-white {
  color: #d7e9ff;
}

.paragraph--white {
  color: #fff;
}

.paragraph--info {
  color: #0095ff;
}

.paragraph--center {
  text-align: center;
}

.paragraph--right {
  text-align: right;
}

.paragraph--left {
  text-align: left;
}

.paragraph--h1 {
  font-size: 5.6rem;
}

.paragraph--h2 {
  font-size: 4.2rem;
}

.paragraph--h3 {
  font-size: 3.2rem;
}

.paragraph--h4 {
  font-size: 2.4rem;
}

.paragraph--body {
  font-size: 1.8rem;
}

.paragraph--small {
  font-size: 1.6rem;
}

.paragraph--micro {
  font-size: 1.4rem;
}

.paragraph--nano {
  font-size: 1.2rem;
}

.paragraph--weight-bold {
  font-weight: 700;
}

@media (max-height: 600px) and (max-width: 920px) {
  .paragraph--small-screen-body {
    font-size: 1.8rem;
  }

  .paragraph--small-screen-small {
    font-size: 1.6rem;
  }

  .paragraph--small-screen-micro {
    font-size: 1.4rem;
  }

  .paragraph--small-screen-nano {
    font-size: 1.2rem;
  }
}