.box {
  max-width: 400px;
  padding-top: 1.6rem;
  width: 100%;
}

.title {
  margin: 0 0 3.2rem;
  text-align: center;
}

.headline {
  font-size: 1.4rem;
  margin: 0 0 2.4rem;

  @media(min-width:720px) {
    margin: -3.6rem 0 3.6rem;
  }
}

.form-actions {
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  margin: 3.2rem 0;

  > div:not(:first-child) {
    margin-left: 2.8rem;
  }
}

.question {
  color: #a8aeb2;
  font-weight: 500;
  margin: 0 0 .2rem;
}

.change-action {
  font-weight: 500 !important;
  text-decoration: none;
}

.success-message {
  font-size: 1.6rem;
  margin: 0 0 1.6rem;
}

.error-message {
  color: #ff3d71;
  font-weight: 700;
  margin: 0 0 1.6rem;
  text-align: center;
}