.issue-modal {
  &__footer {
    align-items: flex-end;
    display: flex;
    height: 4.8rem;
    justify-content: space-between;
    margin-top: 4rem;
  }

  &__points {
  }

  &__vote-now {
    margin: 0 0 -.8rem -1.6rem;
  }

  &__voting-wrapper {
    align-items: center;
    display: flex;
  }

  &__voting {
    align-items: center;
    color: #1a2935;
    display: flex;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: -.4rem;
  }

  &__voting-icon {
    color: #a8aeb2;
    margin-right: .8rem;
    padding-top: .8rem;
  }

  &__stop-voting {
    margin-left: .8rem;
    padding-top: .8rem;
  }
}

.key-container {
  margin-bottom: .8rem;
  width: 24rem;
}

.summary-container {
  margin-bottom: 1.6rem;
}

.description-container {
}

.actions-container,
.link-container {
  margin-bottom: 2.4rem;
}

.label {
  align-items: center;
  color: #1a2935;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;

  &__span {
    margin: 0 .8rem 0 0;
  }
}