.header {
  background-color: #fff;
  justify-content: space-between;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all .2s;
  z-index: 9;

  &,
  .left,
  .right {
    align-items: center;
    display: flex;
  }
}

@media (max-width: 919px) {
  .header {
    height: 8rem;
  }

  .auth-button {
    display: none;
  }

  .burger-button {
    align-items: center;
    display: flex;
    height: 8rem;
    justify-content: center;
    width: 8rem;
  }

  .logo-link {
    align-items: center;
    display: flex;
    height: 8rem;
    justify-content: flex-start;
    justify-content: center;
    outline: 0;
    text-decoration: none;
    transition: all .15s;
    width: 8rem;

    .logo-icon {
      width: 4rem;
    }

  }

  .logo-way-link {
    &,
    &:hover {
      margin-left: 2.4rem;
    }
  }

  .title {
    display: none;
  }
}

@media (min-width: 472px) {
  .title {
    display: block;
    font-size: 2.25rem;
    margin: 0;
    padding: 0;

    &--anchor {
      cursor: pointer;
    }
  }

  .header {
    &--home {
      .title {
        color: #fff;
      }
    }
  }
}

.cta,
.cta-pricing {
  display: none;
}

@media (min-width: 920px) {
  .header {
    height: 10rem;
  }

  .left {
    padding: 0 2rem 0 4rem;
  }

  .right {
    padding: 0 4rem 0 2rem;
  }

  .logo-link {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    outline: 0;
    text-decoration: none;
    transition: all .15s;

    .logo-icon {
      width: 3.8rem;
    }
  }

  .logo-way-link {
    box-sizing: content-box;
    color: #3993ff;
    display: inline-block;
    height: 40px;
    padding-top: 4px;
  }

  .burger-button {
    display: none;
  }

  .title {
    font-size: 2.25rem;
    font-weight: 700;
    padding: 0 1.6rem;
  }

  .cta {
    display: inline-block;
    margin-left: 2.4rem;
  }

  .cta-pricing {
    align-items: center;
    border-right: 2px solid #e8e9ea;
    display: inline-flex;
    height: 4rem;
    margin-right: 2.4rem;
    padding-right: 2.4rem;

    &--next-to-dropdown {
      padding-right: 3.2rem;
    }
  }
}