.form-input-inline-edit {
  .value-container {
    display: flex;
    justify-content: space-between;
  }

  .inputs {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2.4rem;

    .form-input {
      width: 100%;
    }

    @media (min-width: 920px) {
      flex-wrap: nowrap;
      padding-top: 1.6rem;
    }
  }
}