.table {
  border: none;
  border-collapse: separate;
  border-spacing: 1.6rem .8rem;
  max-width: 100%;

  td,
  th {
    border: none;
    width: 100px;
  }

  th {
    text-align: left;
  }

  td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}