.title {
  color: #1a2935;
  font-size: 2.25rem;
  font-weight: 700;
}

.message-title {
  color: #1a2935;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: .8rem;
  margin-top: 4rem;
}

.message {
  color: #a8aeb2;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 4rem;
  margin-top: 0;
}

.reason-button {
  margin-top: 2.4rem;
}

.button-message {
  color: #a8aeb2;
  font-size: 1.6rem;
  font-weight: 400;
  margin: .8rem 0 2.4rem;
  text-align: center;
}

.canceled-container {
  padding: 4rem;
  text-align: center;
}