.home-link {
  font-weight: 400;
}

.dropdown-logout {
  align-items: center;
  display: flex;

  a + a {
    margin-left: .8rem;
  }
}

.name {
  font-size: 1.8rem;
}

.chevron {
  margin-left: .4rem;
}

.display-name-empty-picture,
.display-name-picture {
  margin-right: .8rem;
}