.last-updates {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 40rem;
}

.contact,
.header,
.update {
  padding: 0 2.4rem;
}

.update {
  &--unread {
    .title-container {
      position: relative;

      &:after {
        background-color: #3993ff;
        border-radius: 50%;
        content: "";
        height: .8rem;
        left: -1.4rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: .8rem;
      }
    }
  }
}