.container {
  max-width: 100%;
  text-align: center;
  width: 73.3rem;
}

.image {
  max-width: 100%;
  width: 40rem;
}

.title {
  color: #1a2935;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 2.4rem 0 .8rem;
  text-align: center;
}

.subtitle {
  color: #a8aeb2;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0 0 4rem;
  text-align: center;
}