.header3 {
  color: #1a2935;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2em;
  margin: 0;
  padding: 0;

  @media (min-width: 920px) and (min-height: 670px) {
    font-size: 3.2rem;
    font-weight: 700;
  }
}

.header3--light {
  color: #fff;
}