.vertical-spacer--spacing-xxs {
  height: .4rem
}

.vertical-spacer--spacing-xs {
  height: .8rem
}

.vertical-spacer--spacing-s {
  height: 1.2rem
}

.vertical-spacer--spacing-m {
  height: 1.6rem
}

.vertical-spacer--spacing-l {
  height: 2.4rem
}

.vertical-spacer--spacing-xl {
  height: 3.2rem
}

.vertical-spacer--spacing-xxl {
  height: 4rem
}

.vertical-spacer--spacing-xxl-2 {
  height: 4.8rem
}

.vertical-spacer--spacing-xxl-3 {
  height: 5.6rem
}

.vertical-spacer--spacing-xxl-4 {
  height: 6.4rem
}

@media (max-width: 1400px) {
  .vertical-spacer-xl--spacing-xxs {
    height: .4rem
  }

  .vertical-spacer-xl--spacing-xs {
    height: .8rem
  }

  .vertical-spacer-xl--spacing-s {
    height: 1.2rem
  }

  .vertical-spacer-xl--spacing-m {
    height: 1.6rem
  }

  .vertical-spacer-xl--spacing-l {
    height: 2.4rem
  }

  .vertical-spacer-xl--spacing-xl {
    height: 3.2rem
  }

  .vertical-spacer-xl--spacing-xxl {
    height: 4rem
  }

  .vertical-spacer-xl--spacing-xxl-2 {
    height: 4.8rem
  }

  .vertical-spacer-xl--spacing-xxl-3 {
    height: 5.6rem
  }

  .vertical-spacer-xl--spacing-xxl-4 {
    height: 6.4rem
  }
}