.home-container {
  padding-top: 10rem;
}

.first-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 2;

  &__left {
    max-width: 63rem;
  }

  &__headline {
    max-width: 52rem;
  }

  &__cta {
    max-width: 30.2rem;
  }

  &__logos-label {
    color: #48545d;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  &__logos-list {
    align-items: center;
    -webkit-column-gap: 2.4rem;
    column-gap: 2.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    list-style: none;
    margin: 0;
    padding: 0;
    row-gap: 2.4rem;

    img {
      max-width: none;
    }
  }

  .video-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: calc(100vw - 4.8rem);
    width: 62.8rem;

    .crew {
      position: relative;
      z-index: 2;
    }

    .video-container {
      background-color: #f9f9f9;
      border-radius: 12px;
      -webkit-filter: drop-shadow(0 7.9746px 23.9238px rgba(26, 41, 53, .16));
      filter: drop-shadow(0 7.9746px 23.9238px rgba(26, 41, 53, .16));
      margin-top: -22px;
      overflow: hidden;
      position: relative;
      width: 100%;
      z-index: 1;
    }
  }

  @media (max-height: 800px) {
    max-width: 108rem;

    .video-wrapper {
      max-width: 54rem;

      .crew {
        max-width: 32rem;
      }
    }
  }

  @media (max-width: 1400px) {
    display: block;

    &__left {
      margin: 0 auto 5.2rem;
      max-width: 84.5rem;
      text-align: center;
    }

    &__headline {
      max-width: none;
    }

    .video-wrapper,
    &__cta {
      margin: 0 auto;
    }

    &__logos-list {
      justify-content: center;
    }
  }

  @media (max-width: 920px) {
    .video-wrapper {
      max-width: calc(100vw - 4.8rem);

      .video-container {
        filter: drop-shadow(0 4px 12px rgba(26, 41, 53, .12));
      }
    }
  }

  @media (max-width: 720px) {
    &__left {
      text-align: left;
    }

    &__cta {
      max-width: none;
    }

    &__logos-list {
      justify-content: left;
    }
  }
}

.sections-grey {
  background-color: #f9f9f9;
  margin-top: 4vw;

  .wave {
    margin-top: -4vw;
    width: 100%;
  }

  @media (max-width: 1400px) {
    &--first {
      margin-top: -26rem;

      .wave {
        margin-bottom: 26rem;
      }
    }
  }
}

.sections-white {
  background-color: #fff;
}

.how-it-works-section {
  text-align: center;

  &__steps {
    column-gap: 7.2rem;
    display: grid;
    grid-template-columns: 36.3rem 36.3rem 36.3rem;
    justify-content: center;

    > div {
      display: inline-grid;
      grid-template-rows: 170px auto;
      row-gap: 4.8rem;
    }

    @media (max-width: 1400px) {
      column-gap: 4rem;
      grid-template-columns: 30rem 30rem 30rem;
    }

    @media (max-width: 1000px) {
      grid-template-columns: 100%;
      row-gap: 6.4rem;

      > div {
        grid-template-rows: 170px auto;
        row-gap: 1.6rem;
      }
    }
  }
}

.section-faqs-contact {
  column-gap: 13.3rem;
  display: grid;
  grid-template-areas: "text image";
  grid-template-columns: auto 30.3rem;
  max-width: 100rem;

  &__spacing-v {
    display: none;
  }

  @media (max-width: 920px) {
    align-items: center;
    grid-template-areas: "image""text";
    grid-template-columns: auto;
    justify-content: center;
    row-gap: 4rem;

    &__spacing-v {
      display: block;
    }

    &__img {
      text-align: center;

      img {
        max-width: 50vw;
      }
    }
  }
}

.caption {
  max-width: 62.8rem;
  padding-top: 8rem;
  text-align: center;
}

.plans {
  @media (max-width: 920px) {
    flex-wrap: wrap;

    .spacing {
      height: 4rem;
      width: 100%;
    }
  }
}

.last-section {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 4.2rem;

  &__left {
    margin-right: 2.4rem;
    max-width: 62.8rem;
  }

  &__cta {
    max-width: 30.2rem;
  }

  @media (max-width: 1400px) {
    display: block;

    &__left {
      margin-bottom: 4rem;
      max-width: 100vw;
      text-align: center;
    }

    &__cta,
    &__img {
      margin: 0 auto;
    }

    &__img {
      text-align: center;
    }
  }
}