.flexbox {
  align-items: center;
  display: flex;
  width: 100%;
}

.flexbox--inline {
  display: inline-flex;
  width: auto;
}

.flexbox--start {
  justify-content: flex-start;
}

.flexbox--center {
  justify-content: center;
}

.flexbox--end {
  justify-content: flex-end;
}

.flexbox--space-between {
  justify-content: space-between;
}

.flexbox--space-evenly {
  justify-content: space-evenly;
}

.flexbox--align-start {
  align-items: flex-start
}

.flexbox--align-center {
  align-items: center
}

.flexbox--align-end {
  align-items: flex-end
}

.flexbox--align-strech {
  align-items: stretch
}

.flexbox--wrap-elements {
  flex-wrap: wrap
}