.textarea {
  background: transparent;
  background-color: #fff;
  border: 2px solid #e8e9ea;
  border-radius: 6px;
  color: #1a2935;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  line-height: 1.4em;
  outline: none;
  padding: 1.6rem;
  position: relative;
  resize: none;
  transition: all .1s;
  width: 100%;
  z-index: 1;

  &:focus,
  &:hover {
    border-color: #d1d4d7;
  }

  @at-root .value {
    border-radius: 7px;
    cursor: pointer;
    margin: -.8rem;
    padding: .8rem;

    &:hover {
      background: #f1f1f1;
    }
  }

  @at-root .key,
  &--key {
    color: #48545d;
    font-size: 1.8rem;
    font-weight: 400;
  }

  @at-root .summary,
  &--summary {
    color: #1a2935;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.45em;
  }

  @at-root .description,
  &--description {
    color: #1a2935;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.45em;
  }

  &--issue-card {
    @at-root .issue-card,
    .issue-card-no-permission,
    & {
      border: 0;
      color: #1a2935;
      font-size: 1.8rem;
    }

    background-color: #f1f1f1;
  }
}

.textarea-actions {
  padding: 1.6rem 0;

  > * {
    margin-right: 1.6rem;
  }
}

.press-intro-label {
  color: #a8aeb2;
  font-size: 1.6rem;
  text-align: right;
}

.button {
  align-items: center;
  background: #f1f1f1;
  border: 0;
  border-radius: .8rem;
  color: #48545d;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.8rem;
  font-weight: 400;
  height: 5.6rem;
  letter-spacing: .02em;
  outline: 0;
  padding: 0 2.4rem;
  position: relative;
  text-align: left;
  transition: all .09s linear;
  width: 100%;

  @media (min-width: 920px) {
    &,
    .icon-elemnent {
      height: 4.8rem;
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #d7e9ff;
  }

  &:hover {
    background: #e8e9ea;
  }

  &:active {
    background: #d1d4d7;
  }

  &--mode-issue-card,
  &--mode-issue-card-no-permission {
    background: transparent;
    color: #3993ff;
    color: #48545d;
    font-weight: 700;

    &:hover {
      background: #f9f9f9;
    }
  }
}