.horitzontal-spacer {
  display: inline-block;
}

.horitzontal-spacer--spacing-xxs {
  width: .4rem;
}

.horitzontal-spacer--spacing-xs {
  width: .8rem;
}

.horitzontal-spacer--spacing-s {
  width: 1.2rem;
}

.horitzontal-spacer--spacing-m {
  width: 1.6rem;
}

.horitzontal-spacer--spacing-l {
  width: 2.4rem;
}

.horitzontal-spacer--spacing-xl {
  width: 3.2rem;
}

.horitzontal-spacer--spacing-xxl {
  width: 4rem;
}

.horitzontal-spacer--spacing-xxl-2 {
  width: 4.8rem;
}

.horitzontal-spacer--spacing-xxl-3 {
  width: 5.6rem;
}

.horitzontal-spacer--spacing-xxl-4 {
  width: 6.4rem;
}