.timer {
  border: 1px solid #f9f9f9;
  border-radius: 8px;
  border-radius: 100%;
  display: flex;
  left: 2.4rem;
  position: fixed;
  top: 12rem;
  transition: all .09s linear;
  z-index: 4;

  @media (max-width: 919px) {
    left: 2.4rem;
    top: 8.8rem;
  }

  @media (max-width: 720px) {
    display: none;
  }
}

.timer-circle {
  align-items: center;
  display: flex;
  justify-content: center;
}

.svg {
  border-radius: 50%;
  height: 48px;
  transform: rotate(-90deg);
  width: 48px;
}

.circle {
  fill: #00d68f;
  stroke: #ebf4ff;
  stroke-width: 32;
  stroke-dasharray: 0 100;
  transition: all .09s linear;

  &--warning {
    fill: #fa0;
  }

  &--danger {
    fill: #ff3d71;
  }
}

.start-timer-container {
  padding: 2.4rem;
}

.sync-votings {
  cursor: pointer;
}

.ended-alert {
  align-items: center;
  background: #ff3d71;
  border-radius: 6px;
  color: #fff;
  display: flex;
  font-size: 1.6rem;
  height: 4rem;
  justify-content: space-between;
  padding-left: .8rem;
  position: absolute;
  right: -.8rem;
  top: 50%;
  transform: translate(100%, -50%);
  width: 22rem;

  * {
    line-height: 1.3em !important;
  }

  div {
    flex-shrink: 0;
  }

  &__close {
    align-items: center;
    background: transparent;
    border: 0;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    font-size: 1.6rem;
    height: 3.2rem;
    justify-content: center;
    margin: 0 .4rem 0 0;
    outline: 0;
    padding: 0;
    width: 3.2rem;

    &:hover {
      background-color: hsla(0, 0%, 100%, .2);
    }
  }
}