.card-list-label {
  font-size: 1.8rem;
  margin: 0 0 .8rem;
  min-width: 48rem;
  text-align: center;

  span {
    font-size: 1.6rem;
  }
}

.counting-votes-label-container {
  position: relative;

  .count-now-button {
    position: absolute;
    right: 2.4rem;
    top: 0;
  }
}

@media (max-height: 600px) and (max-width: 920px) {
  .card-list-label {
    display: none;
  }

  .deactivate-button {
    font-size: 1.4rem;
  }

  .spectator-mode-container {
    display: flex;
    flex-direction: column;
    height: 8rem;
    justify-content: center;
  }
}