.donut-chart {
  align-items: center;
  display: flex;
  font-size: 1.8rem;
  height: 5.6rem;
  position: relative;
  width: 5.6rem;

  .background-cricle {
    fill: #f9f9f9;

    @media (max-height: 599px), (max-width: 919px) {
      fill: #fff;
    }
  }

  .chart {
    height: 5.6rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 5.6rem;
  }

  .label {
    align-items: center;
    display: flex;
    font-size: 14px;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -56%);
    width: 100%;
  }
}