.faqs {
  ol,
  ul {
    li {
      margin-bottom: 1.2rem;
    }
  }
}

.index {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: .8rem;
  }
}

.faq {
  position: relative;

  .anchor {
    position: absolute;
    top: -15.6rem;
  }
}