.container {
  margin: 0 auto;
  max-width: 1280px;

  @media (max-width: 1400px) {
    padding: 0 2.4rem;
  }

  @media (max-width: 920px) {
    padding: 0 1.6rem;
  }
}

.container--medium {
  max-width: 920px;
}

.container--small {
  max-width: 640px;
}

.container--centered {
  align-items: center;
  display: flex;
  height: calc(100vh - 10rem);
  justify-content: stretch;

  > div {
    width: 100%;
  }

  @media (max-width: 920px) {
    height: calc(100vh - 8rem);
  }
}