.label {
  margin-right: 2.4rem !important;

  &--selected {
    &, span {
      font-weight: 700;
    }
  }

  span {
    font-size: 1.6rem;
  }
}

.radio {
  color: #3993ff;
  font-size: 2.4rem !important;

  &:hover {
    background-color: #ebf4ff !important;
  }
}