.wrapper {
  display: inline-block;
  max-width: 100%;
  position: relative;
}

.button {
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: .8rem;
  color: #48545d;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.8rem;
  font-weight: 700;
  height: 5.6rem;
  letter-spacing: .02em;
  outline: 0;
  padding: 0 1.6rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .09s linear;

  .chevron {
    margin-left: .8rem;
  }

  .tooltip {
    display: none;
  }

  @media(min-width:920px) {
    height: 4.8rem;
  }

  &:hover {
    background-color: #f1f1f1;

    .tooltip {
      display: block;
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px #f9f9f9, 0 0 0 4px #e8e9ea;
  }

  &.button--is-active {
    background-color: #e8e9ea;
  }
}

.button--light {
  color: #fff;

  &:hover {
    background-color: hsla(0, 0%, 100%, .2);
  }

  &:focus {
    box-shadow: 0 0 0 2px #3993ff, 0 0 0 4px #74b3ff;
  }

  &.button--is-active {
    background-color: hsla(0, 0%, 100%, .3);
  }
}

.dropdown {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px hsla(204, 6%, 68%, .4);
  min-width: 30rem;
  overflow: hidden;
  position: fixed;
  z-index: 999;
}

.dropdown--m {
  min-width: 30rem;
}

.dropdown--s {
  min-width: 24rem;
}