.plan {
  border: 2px solid #f1f1f1;
  border-radius: 8px;
  box-sizing: content-box;
  max-width: 37rem;
  padding: 0 2.4rem;
  position: relative;

  .price-container {
    height: 6.8rem;
  }

  .price {
    font-size: 5.6rem;
    font-weight: 600;
    letter-spacing: -.1rem;
    line-height: 1.3em;
  }

  .price-help {
    margin-left: auto;
  }

  .cta-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 9rem;
    justify-content: space-between;
    margin-top: auto;
    position: relative;
  }

  .cta-new-game {
    width: 100%;
  }

  .current-plan {
    align-items: center;
    display: flex;
    width: 100%;
  }

  @media (max-width: 1020px) {
    width: 100%;

    .price-container {
      height: auto;
    }

    .cta-container {
      height: 9.8rem;
    }
  }
}

.plan--is-premium {
  border-top: none;

  &:after {
    background: #3993ff;
    border-radius: 8px 8px 0 0;
    content: "";
    height: 4px;
    left: -2px;
    position: absolute;
    right: -2px;
    top: 2px;
  }
}

.info-dropdown {
  padding: .4rem;
}