.item {
  display: flex;

  & + & {
    margin-top: .8rem;
  }

  .icon-container {
    color: #3993ff;
    flex-shrink: 0;
    width: 4rem;
  }

  .text-container {
    color: #48545d;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5em;
  }

  .text-container--strong {
    font-weight: 700;
  }
}