.profile-img {
  display: inline-block;
  flex-shrink: 0;
  position: relative;

  &, img {
    border-radius: 50%;
  }
}

.profile-img--empty {
  align-items: center;
  background-color: #d7e9ff;
  color: #3993ff;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  justify-content: center;
}

.profile-img--clickable {
  cursor: pointer;
}

.profile-img--is-transition {
  &, img {
    transition: all .2s linear;
  }
}

.shadow {
  background: radial-gradient(50% 50% at 50% 50%, rgba(26, 41, 53, .08) 0, rgba(26, 41, 53, .16) 100%);
  border-radius: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.button {
  align-items: flex-end;
  background: transparent;
  border: 0;
  border-radius: 50%;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  display: flex;
  height: 100%;
  left: 0;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;

  .button-icon {
    align-items: center;
    background-color: #ebf4ff;
    border-radius: 50%;
    bottom: 0;
    color: #3993ff;
    display: flex;
    height: 2.4rem;
    justify-content: center;
    left: 0;
    position: absolute;
    width: 2.4rem;

    &:hover {
      background-color: #d7e9ff;
    }
  }

  svg {
    width: 1.4rem;
  }

  &:hover {
    background: rgba(0, 0, 0, .03);
  }
}

.profile-img--s {
  &, img {
    font-size: 1.2rem;
    height: 2.4rem;
    width: 2.4rem;
  }
}

.profile-img--m {
  &, img {
    height: 3.2rem;
    width: 3.2rem
  }
}

.profile-img--l {
  &, img {
    font-size: 1.6rem;
    height: 4.8rem;
    width: 4.8rem
  }
}

.profile-img--xl {
  &, img {
    font-size: 1.8rem;
    height: 6.4rem;
    width: 6.4rem
  }
}

.profile-img--xxl {
  &, img {
    font-size: 2.4rem;
    height: 9.8rem;
    width: 9.6rem
  }
}