.tabs {
  padding: .8rem;
}

.title-span {
  margin-left: 1.6rem;
}

.empty-message {
  font-weight: 700;
  opacity: .5;
  padding: 0 4rem 4rem;
  text-align: center;
}

.section-title {
  align-items: center;
  display: flex;
  font-size: 2.4rem;
  margin: 0;
}

.section-subtitle {
  align-items: center;
  color: #1a2935;
  display: flex;
  font-size: 1.8rem;
  margin: 0;
}

.section-value {
  font-size: 1.8rem;
  margin: .8rem 0 0;
}

.subscription-status {
  background-color: #00d68f;
  border-radius: 4px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  font-weight: 700;
  margin: 0 0 0 1rem;
  padding: .4rem .8rem;
  text-align: center;
}

.subscription-status--past-due {
  background-color: #fa0;
}

.subscription-status--unpaid,
.subscription-status--incomplete {
  background-color: #ff3d71;
}

.subscription-status--canceled {
  background-color: #a8aeb2;
}

.switch-to-yearly {
  background: #f9f9f9;
  border-radius: .8rem;
}

.switch-to-yearly__icon {
  flex-shrink: 0;
  height: 4.8rem;
  width: 4.8rem;

  > img {
    width: 2.4rem;
  }
}

.switch-to-yearly__cta {
  flex-shrink: 0;
}