.textarea {
  background: transparent;
  border: 2px solid #e8e9ea;
  border-radius: 6px;
  color: #1a2935;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  height: 130px;
  outline: none;
  padding: 1.6rem;
  position: relative;
  resize: vertical;
  transition: all .1s;
  width: 100%;
  z-index: 1;

  &:hover {
    border-color: #d1d4d7;
  }

  &:focus {
    border-color: #3993ff;
  }
}