.header {
  display: flex;
  height: 10rem;
  justify-content: space-between;
  left: 0;
  padding: 0 4rem;
  position: absolute;
  right: 0;
  top: 0;

  &__left,
  &__right {
    align-items: center;
    display: flex;
    height: 10rem;
  }

  &__divider {
    background-color: #d1d4d7;
    height: 32px;
    margin: 0 .8rem;
    width: 2px;
  }
}

.content-wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 10rem;
}

.content {
  display: grid;
  grid-template-rows: 1fr auto;
  max-height: 100%;
  width: 100%;

  .issues-container {
    overflow-y: auto;
    padding: 2px 0 4px;
  }
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
}

.close {
  margin-right: -1.2rem;
}

.add-issue {
  padding: 1.2rem 4rem;
}

@media(max-width:919px) {
  .header {
    height: 8rem;
    padding: 0 1.6rem;

    &__left,
    &__right {
      height: 8rem;
    }

    &__divider {
      display: none;
    }
  }

  .content-wrapper {
    top: 8rem;
  }

  .add-issue {
    padding: 1.2rem 1.6rem;
  }

  .title {
    font-size: 2rem;
  }

  .jira-actions {
    display: none;
  }
}