.crop-container {
  border-radius: 8px;
  height: 42rem;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 53.4rem;
}

.controls {
  padding: 0 4.8rem;
}

.slider {
  color: #3993ff !important;
}