.facilitators {
  list-style: none;
  margin: 0;
  padding: 0;
}

.facilitator {
  align-items: center;
  -webkit-column-gap: 1.6rem;
  column-gap: 1.6rem;
  display: grid;
  grid-template-columns: 4.8rem 1fr 12rem 9.8rem;
  margin-bottom: 1.6rem;
  width: 100%;
}

.facilitator__empty-profile-pick {
  background-color: #f9f9f9;
  border: 2px dashed #d1d4d7;
  border-radius: 50%;
  height: 4.8rem;
  width: 4.8rem;
}

.facilitator__email {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.facilitator__img {
  align-items: center;
  display: flex;
  justify-content: center;
}

.facilitator__actions {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;

  > * {
    flex-shrink: 0;
  }
}

.upgrade-icon {
  color: #00d68f;
  line-height: 1;
}

.downgrade-icon {
  color: #ff3d71;
  line-height: 1;
}

.change-preview {
  background: #f1f1f1;
  border-radius: 8px;
  padding: 2.4rem;
}

.change-preview__flexbox {
  width: auto;
}