.list {
  list-style: none;
  margin: 0 0 .8rem;
  padding: 0;
  width: 100%;
}

.element {
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  margin-bottom: 2.4rem;

  .meta {
    color: #48545d;
    font-size: 1.6rem;
    margin-top: .4rem;
  }
}