.tabs {
  padding: .8rem;
}

.top-bar-content {
}

.top-bar-title {
  align-items: center;
  display: flex;
  height: 5.6rem;
  justify-content: center;
}

.title-span {
  margin-left: 1.6rem;
}

.empty-message {
  font-weight: 700;
  opacity: .5;
  padding: 0 4rem 4rem;
  text-align: center;
}