.header4 {
  color: #1a2935;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2em;
  margin: 0;
  padding: 0;

  @media (min-width: 920px) and (min-height: 670px) {
    font-size: 2.4rem;
    font-weight: 700;
  }
}

.header4--center {
  text-align: center;
}

.header4--primary {
  color: #3993ff;
}

.header4--white {
  color: #fff;
}