.inline-alert {
  border: 2px solid;
  border-radius: .8rem;
  padding: 1.6rem;
}

.inline-alert--danger {
  background-color: #fff2f5;
  border-color: #ff3d71;
}

.inline-alert--success {
  background-color: #f8faf9;
  border-color: #00d68f;
}

.inline-alert--info {
  background-color: #ebf4ff;
  border-color: #0095ff;
}

.inline-alert--clickable {
  cursor: pointer;
}