.loader {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 40%;
}

.placeholder {
  margin-top: 12rem;
}

.bottom {
  width: 100%;
}

.title-with-spinner {
  position: relative;

  .spinner {
    opacity: .6;
    position: absolute;
    right: -4rem;
    top: 50%;
    transform: translateY(-50%);
  }
}