.span {
  display: inline-block;
  line-height: 1.4em;
}

.span--center {
  text-align: center;
}

.span--body {
  font-size: 1.8rem;
}

.span--small {
  font-size: 1.6rem;
}

.span--micro {
  font-size: 1.4rem;
}

.span--regular {
  font-weight: 400;
}

.span--semibold {
  font-weight: 600;
}

.span--bold {
  font-weight: 700;
}

.span--with-tooltip {
  border-bottom: 1px dashed;
  cursor: default;
}

.span--hide-underline {
  border-bottom: none;
}

.span--black {
  border-bottom-color: #1a2935;
  color: #1a2935;
}

.span--white {
  border-bottom-color: #fff;
  color: #fff;
}

.span--grey500 {
  border-bottom-color: #a8aeb2;
  color: #a8aeb2;
}

.span--grey600 {
  border-bottom-color: #48545d;
  color: #48545d;
}

.span--success {
  border-bottom-color: #00d68f;
  color: #00d68f;
}

.span--primary {
  border-bottom-color: #3993ff;
  color: #3993ff;
}