.submit-row {
  align-items: center;
  display: flex;

  .confirm,
  .cancel,
  .spacer {
    flex-shrink: 0;
  }

  @media (max-width: 472px) {
    flex-wrap: wrap;

    .spacer {
      height: 1.6rem;
    }

    .cancel,
    .confirm {
      &, button {
        width: 100%;
      }
    }
  }
}

.submit-row--block {
  justify-content: space-between;
}

.submit-row--right {
  justify-content: flex-end;
}

.submit-row--center {
  justify-content: center;
}

.submit-row--strech {
  justify-content: stretch;

  .confirm,
  .cancel {
    flex-shrink: 1;
    width: 50%;
  }
}