.link {
  max-width: 100%;
  text-overflow: ellipsis;
  word-break: break-word;

  &:hover {
    color: #74b3ff;
  }
}

.link-icon {
  align-items: flex-end;
  display: inline-flex;
  height: 1em;
  margin-left: .4rem;
  position: relative;
  text-decoration: none;
  width: 1em;

  > svg {
    flex-shrink: 0;
    height: 1.6rem;
    width: 1.6rem;
  }
}
